.jumbotron {
  background-image: url(https://www.cicis.com/media/1243/pizza_adven_zestypepperoni.png);
}

.well{
  padding: 20px;
}

.order-form {
  text-align: center;
}

h4 {
  font-style: italic;
}

#output {
  display: none;
  padding: 20px;
  margin: 20px;
}
